<base-auth-ui>
  <div class="text-page-title font-bold unselectable">Password reset</div>
  <div id="title-description" class="text-normal unselectable">
    We will email you a password reset link.
  </div>

  <div id="textbox-group" class="vertical-input-stack">
    <div class="custom-textbox">
      <input
        type="email"
        autocomplete="email"
        placeholder="Email"
        [(ngModel)]="email"
        required
      />
    </div>
    <div
      *ngIf="emailErrorMessage !== ''"
      class="text-normal error-text unselectable"
    >
      ⚠ {{ emailErrorMessage }}
    </div>
  </div>

  <button id="login-botton" class="custom-button" (click)="resetPassword()">
    <span>Reset Password</span>
  </button>

  <div class="horizontal-stack-layout">
    <a [routerLink]="'/login'" class="text-normal">← Back to log in</a>
  </div>
</base-auth-ui>
