.textbox-container {
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px 0 0 5px; /* 5px border radius on the left side */
  font-size: 18px;
  outline: none; /* Remove default input focus outline */
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  width: 30px;
  height: 15px;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Match the right side corner radius of the textbox */
button:first-child {
  border-radius: 0 5px 0 0;
}

button:last-child {
  border-radius: 0 0px 5px 0;
}

svg {
  display: block;
  align-items: center;
  margin: auto;
}
