<base-auth-ui *ngIf="!passwordChanged">
  <div class="text-page-title font-bold unselectable">Change password</div>
  <div id="title-description" class="text-normal unselectable">
    Safeguard your account with a new password.
  </div>

  <div id="textbox-group" class="vertical-input-stack">
    <div class="custom-textbox">
      <input
        type="password"
        [(ngModel)]="newPassword"
        placeholder="New Password"
        required
      />
    </div>
    <div
      *ngIf="passwordErrorMessage !== ''"
      class="text-normal error-text unselectable"
    >
      ⚠ {{ passwordErrorMessage }}
    </div>

    <div class="custom-textbox">
      <input
        type="password"
        [(ngModel)]="confirmNewPassword"
        placeholder="Confirm New Password"
        required
      />
    </div>
    <div
      *ngIf="confirmPasswordErrorMessage !== ''"
      class="text-normal error-text unselectable"
    >
      ⚠ {{ confirmPasswordErrorMessage }}
    </div>
  </div>

  <button id="login-botton" class="custom-button" (click)="changePassword()">
    <span>Reset Password</span>
  </button>

  <div class="horizontal-stack-layout">
    <a [routerLink]="'/login'" class="text-normal">← Back to log in</a>
  </div>
</base-auth-ui>

<base-auth-ui *ngIf="passwordChanged">
  <div class="text-page-title font-bold unselectable">Password changed!</div>
  <div id="title-description" class="text-normal unselectable">
    You can close this tab now.
  </div>
</base-auth-ui>
